*{
    scroll-behavior: smooth !important;
}

:root {
    --purple: #8F49E9;
    --bg: #232026;
    --white: #E1D9EC;
    --pink: #E949B2;
    --blue: #499CE9;
    --green: #3AB480;
    --grass: #99E949;
    --teal: #49E99C;
    --red: #E94949;
    --tpurple: rgba(143, 73, 233, 0.52);
    --tbg: rgba(35, 32, 38, 0.5);
    --tbgs: rgba(35, 32, 38, 0.2);
    --tblue: rgba(73, 156, 233, 0.5);
    --twhite: rgba(225, 217, 236, 0.04);
    --twhiteo: rgba(225, 217, 236, 0);
    --twhite2: rgba(225, 217, 236, 0.02);
    --twhite50: rgba(225, 217, 236, 0.5);
    --twhite14: rgba(225, 217, 236, 0.14);
    --twhite30: rgba(225, 217, 236, 0.3);
    --twhite7: rgba(225, 217, 236, 0.07);
    --tgreen50: rgba(58, 180, 128, 0.5);
    --tpurple20: rgba(143, 73, 233, 0.2);
    --tteal70: rgba(73, 233, 156, 0.705);
    --tpink: rgba(233, 73, 178, 0.52);
    --tred: rgba(233, 73, 73, 0.726);
}

body {
    background-color: var(--bg);
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 3em;
    margin-bottom: 0;
    font-family: 'Catamaran';
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: var(--white);
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 12em;
    position: relative;
    align-items: stretch;
}





h1{
    color: var(--white);
    font-size: 2.4em;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1em;  
    height: 30px;
    text-align: left;
}

a {
    text-decoration: none;
    color: var(--white);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.logo {
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    height: 30px;
    width: 10em;
}

.logotype {
    position: inline;
}

.logoface {
    display: flex;
    flex-direction: column;
}

.logo-top {
    position: inline;
    height: 24px;
    width: 12px;
    border-radius: 0px 150px 150px 0;
    background-color: var(--purple);
}

.logo-bottom {
    position: inline;
    height: 6px;
    width: 12px;
    background-color: var(--purple);
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3em;
    align-items: center;
}

.menu-item {
    color: var(--white);
    font-size: 1.3em;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.menu-item:hover{
    color: var(--purple);
    
}

.button {
    border: solid var(--purple) 0.1em;
    border-radius: 0.3em;
    background-color: var(--tbg);
    box-shadow: 0 5px var(--tpurple);
    padding: 0.5em 3em 0.5em 3em;
    font-size: 1.3em;
    font-weight: 500;
    top: -2px;
    position: relative;
    transition: all 0.2s ease-in-out;
    color: var(--white);
    cursor: pointer;
    font-family: 'Catamaran';
    align-items: center;
}


.button:hover{
    top: 3px;
    box-shadow: none;
}

.purple {
    box-shadow: 0 5px var(--tpurple);
    border: solid var(--purple) 0.1em;
}

.circle {
    height: 20em;
    width: 20em;;
    border-radius: 50%;
    position: relative;
    -webkit-filter: blur(180px); 
    -moz-filter: blur(180px); 
    -o-filter: blur(180px); 
    -ms-filter: blur(180px);
    filter: blur(180px);
}

.bg-effect-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 15em;
    z-index: -2;
    opacity: 97%;

}

.cgr {
    background: linear-gradient(135deg, var(--grass), var(--red));
    left: 5em;
}

.cpp {
    background: linear-gradient(135deg, var(--purple), var(--pink));
    top: -12em;
}

.cbt{
    background: linear-gradient(135deg, var(--blue), var(--teal));
    left: -5em;
}


@keyframes typing {
    0%, 4% { content: "Practice"; }
    5%, 9% { content: "Practice Made"; }
    10%, 25% { content: "Practice Made Perfect"; }

    26%, 29% { content: "Writing"; }
    30%, 34% { content: "Writing Made"; }
    35%, 50% { content: "Writing Made Perfect"; }

    51%, 54% { content: "Grammar"; }
    55%, 59% { content: "Grammar Made"; }
    60%, 75% { content: "Grammar Made Perfect"; }

    76%, 79% { content: "Content"; }
    80%, 84% { content: "Content Made"; }
    85%, 99% { content: "Content Made Perfect"; }
}
  
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
  
.typewriter {
    --caret: currentcolor;
}
  
.typewriter::before {
    content: "Practice";
    animation: typing 8s infinite;
}
  
.typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.8s linear infinite;
}
  
.typewriter.thick::after {
    border-right: 1ch solid var(--caret);
    padding-right: 0.2em;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}


.slogan {
    text-align: left;
    font-size:larger;
    width: auto;
}

.slogan-line {
    color: var(--white);
    font-size: 24px;
    position: relative;
    margin-top: 4em;
}

.blue {
    box-shadow: 0 5px var(--tblue);
    border: solid var(--blue) 0.1em;
    background-color: var(--tbgs);
}

.small-text {
    font-size: 16px;
    opacity: 76%;
    margin-top: -1em;
}

.services {
    background: linear-gradient(0deg, var(--bg), var(--twhite));
    height: 50em;
    width: auto;
    border-radius: 0.5em;
    position: relative;
    margin-top: 5em;
    z-index: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.services-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 4%;
    gap: 1em;
    cursor: pointer;
}

.service {
    padding: 1% 3%;
    font-size: 20px;
    border-radius: 0.2em;
    background-color: var(--twhiteo);
    width: 100%;
    text-align: center;
}

.service:hover {
    background-color: var(--twhite);
}

.service.x {
    background-color: var(--twhite);
}

.service-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-line {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.box {
    display: none;
    width: 0;
    height: 0;
    
}

.box.x {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    gap: 3em;
}

.service-img {
    margin: 0em 2em 2em 2em;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.contact {
    align-items: center;
    position: relative;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 2em;
    gap: 5em;
}

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.rest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12em;
    align-items: center;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.bg-effect-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 4em;
    opacity: 90%;
}

.ctg {
    background: linear-gradient(135deg, var(--teal), var(--green));
}

.cgb {
    background: linear-gradient(135deg, var(--green), var(--blue));
}

.partner-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    position: relative;
    top: 10em;
    
}

.partner-img {
    filter: saturate(0);
    max-width: 70%;
    position: relative;
    width: 50%;
}

.calculator {
    background: linear-gradient(0deg, var(--bg), var(--twhite));
    height: 50em;
    width: auto;
    border-radius: 0.5em;
    position: relative;
    margin-top: -35em;
    z-index: 0;
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 4em;
    box-sizing: border-box;
}

.star-effect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 65em;
    top: -12em;
    animation-name: star-effect;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes star-effect {
    0% { transform: translate(0,  0px); opacity: 100%;}
    50%  { transform: translate(0, 1.5em); opacity: 60% ;}
    100%   { transform: translate(0, -0px); opacity: 100%;}   

}


.calc-header {
    text-align: center;
    position: relative;
    font-size: 32px;
}


.options {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    margin: 0;
    padding: 0;
    width: auto;
}

.choices {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: auto;

}

.question {
    width: 8em;
    font-size: 18px;

}

.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 5%;
    background-color: var(--twhite);
    text-align: center;
    font-size: 20px;
    border-radius: 0.2em;
    border: solid 1.5px var(--twhite50);
    white-space: nowrap;
    height: 100%;
    max-width: 100%;
    cursor: pointer;
    
}

.first {
    padding: 0.5em 4em;
}

.second {
    padding: 0.5em 0.7em;
}

.choice:hover {
    background-color: var(--twhite14);
}

.choice.active {
    background-color: var(--white);
    color: var(--bg);
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 4%;
    background-color: var(--twhite);
    text-align: left;
    font-size: 20px;
    border: none;
    border-radius: 0.2em;
    height: 100%;
    max-width: 100%;
    cursor: pointer;
    text-overflow: nowrap;
    color: var(--white);
    font-family: 'Catamaran';
}

::placeholder {
    font-size: 16px;
    text-align: left;
    color: var(--twhite30);
  
}

.input:hover {

    background-color: var(--twhite14);
    
}

.input:focus {
    outline: 1px solid var(--twhite30);
    color: var(--white);
    
}

::placeholder {
    display: none;
  
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.choice-input {
    -webkit-appearance: none;
    width: 0;
    display: none;
}


.contact2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    align-items: flex-start;
    padding: 2em 2em;
    background-color: var(--twhite7);
    border-radius: 0.4em;
}

.contact-part2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
    align-items: center;
    width: 100%;
}


.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    margin: 1.5em 0;
    padding: 0;
    width: auto;
}

.result {
    font-size: 24px;
}

.output {
    color: var(--purple);
    font-weight: 600;
    font-size: 28px;
}

.var {
    font-size: 18px;
    display: none;
}

.var.active {
    font-size: 18px;
    display: inline;
}

.second.disabled {
    pointer-events: none;
    opacity: 30%;
    border: solid 1.5px var(--twhite14)
}

#email {
    padding: 0.5em 4%;
    width: 19em;

}

.contact-part3 {
    background-color: var(--tteal70);
    border-radius: 0.2em;
    width: 100%;
    color: var(--bg);
    display: none;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#submit {
    padding: 0.3em 4em;
}

.happy {
    margin: 0;
}

.alert {
    margin-left: 2em;
}

.close-cont {
    position: relative;
    height: auto;
    width: auto;
    margin: 1% 5% 1% 6%;
    cursor: pointer;
}

.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: var(--bg);
    display: inline;
    top: -10px;

}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.contact-part3.active {
    display: flex;
    flex-direction: row;
}

.pink-text {
    color: var(--pink);
}

.pink {
    box-shadow: 0 5px var(--tpink);
    border: solid var(--pink) 0.1em;
}

footer {
    position: relative;
    width: 100%;
    height: 30em;
    background-color: var(--twhite7);
    visibility: hidden;
}

.contact-part4 {
    background-color: var(--tpurple20);
    border-radius: 0.2em;
    width: 100%;
    color: var(--white);
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
}

.alert2 {
    margin-left: 2em;
}

.close-cont2 {
    position: relative;
    height: auto;
    width: auto;
    margin: 1% 5% 1% 6%;
    cursor: pointer;
}

.close2:before, .close2:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: var(--white);
    display: inline;
    top: -10px;

}

.close2:before {
    transform: rotate(45deg);
}

.close2:after {
    transform: rotate(-45deg);
}

.contact-part4.active {
    display: flex;
    flex-direction: row;
}



.menu-fixed {
    display: none;
    visibility: hidden;
}








@media only screen and (max-width: 1618px) {
    body {
        margin-left: 15em;
        margin-right: 15em;
    }
}

@media only screen and (max-width: 1522px) {
    body {
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media only screen and (max-width: 1365px) {
    body {
        margin-left: 5em;
        margin-right: 5em;
    }

    .partner-list {
        width: 50%;
    }
}

@media only screen and (max-width: 1300px) {
    body {
        margin-left: 1em;
        margin-right: 1em;
        align-items: center;
    }

    nav {
        gap: 30em;
        align-items: center;
    }

    .menu-item {
        display: none;
    }

    .services {
        width: 50%;
        align-self: center;
        width: 70%;
    }

    .partner-list {
        width: 50%;
    }

    .partner-img {
        width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        margin-left: 0;
        margin-right: 0;
        align-items: center;
    }

    nav {
        gap: 30em;
        align-self: center;
    }

    .menu-item {
        display: none;
    }

    .services {
        align-self: center;
        width: 70%;
    }

    .partner-list {
        width: 50%;
    }

    .partner-img {
        width: 50%;
    }
}

@media screen and (max-width: 428px) {

    html, body {
        overflow-x: hidden;
        max-width: 100%;
        overflow-y: scroll;
    }

    html{
        margin: 0;
    }

    body {
        margin: 0;
        align-items: center;
        gap: 5em;
        scroll-behavior: smooth; 
    }

    .menu-fixed {
        display: flex;
        flex-direction: row;
        background-color: var(--bg);
        visibility: visible;
        height: 100px;
        z-index: 1000;
        max-width: 100%;
        margin-bottom: 0;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 5em;
        bottom: 0;
        position: fixed;
        margin: 0;
        width: 100%;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.13);
    }

    header {
        max-width: 100%;
    }

    .menu {
        visibility: hidden;
        display: none;
    }

    .landing {
        max-width: 100%;
    }

    .partner-list {
        flex-direction: column;
        gap: 5em;
        align-items: center;

    }

    .partner-img {
        width: 40%;
    }
    .hero {
        max-width: 100%;
    }

    .rest {
        max-width: 100%;
    }

    .slogan {
        font-size: small;
    }

    .slogan-line {
        font-size: 19px;
        overflow-wrap: normal;
        width: 25%;
        text-align:justify;
    }
    
    .item-order {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;

    }

    .menu-item-fixed {
        font-size: 14px;
    }

    .purple-item {
        color: var(--purple);
    }

    .logo {
        margin: 3em;
    }

    .contact-header {
        font-size: 30px;
        text-align: center;
        width: 65%;
        line-height: normal;
    }

    .contact {
        gap: 7em;
    }


}